[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
pygls = "*"
duckdb = "*"
sqlparse = "*"
lark = "*"
sqlglot = "*"
zmq = "*"
cutelog = "*"
polars = "*"
pytest = "*"
pytest-cov = "*"
pyside6-essentials = "*"
qtpy = "*"
ipykernel = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
